/* Push last nav item to the right */
.md-nav__item:last-child {
  margin-left: auto;
}

/* Optional: style the Author link */
.md-nav__link[href*="/about"] {
  font-weight: bold;
  color: var(--md-primary-fg-color);
}

.md-nav__item a[href="null"] {
  pointer-events: none;
  flex-grow: 1;
}
